{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Profile</h2>
                <hr>
            </div>
        </div>
        {{ profile }}
        <hr>
        {{ profile.user.email }}
        <hr>
        {{ profile.user.first_name }}
        <hr>
        {{ profile.user.last_name }}
        <hr>
        Superuser? {{ profile.user.is_superuser }}
        <hr>
        {{ profile.default_phone_number}}
        <hr>
        {{ profile.default_street_address1}}
        <hr>
        {{ profile.default_street_address2}}
        <hr>
        {{ profile.default_town_or_city}}
        <hr>
        {{ profile.default_county}}
        <hr>
        {{ profile.default_postcode}}
        <hr>
        {{ profile.default_country}}

{% endblock %}