@media (min-width: 414px) and (max-width: 1023px) {
    .header-container {
        padding-top: 110px!important ;
    }
}
@media (min-width: 1024px) {
    .header-container {
        padding-top: 110px!important ;
    }
}

/* Text Area */

textarea {
    max-height: 100px !important;
    width: 100%;
    overflow-y: auto;
    word-wrap:break-word
    
    }
