
/* Text Area */
#id_description {

    max-height: 140px !important;
    width: 100%;
    overflow-y: auto;
    word-wrap:break-word
    
    }

textarea {

    max-height: 100px !important;
    width: 100%;
    overflow-y: auto;
    word-wrap:break-word
    
    }

#request_list_div {
        overflow: scroll;
        width: 100vw;
        overflow-x: hidden;
    }

#img-detail {
    max-height: 350px;
}

#attachments {
    display: none;
}

/* check box button disabled if no processed image file present*/

/* Media Screens */
@media (max-width:771px) {
    
    #request_list_div h2,th,td{
        font-weight: bold;
        font-size: 95%;
    }
}
@media (max-width:487px) {
    a, a i {
        font-weight: bold;
        font-size: 80%;
    }
    #th_collapsable, #td_collapsable { 
        display: none;
    }
}


@media (min-width: 1024px) {
    .header-container {
        padding-top: 160px!important ;
    }
}



