
<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link  mr-5" href="#" id="all-orders-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Portofolio
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-orders-link">
                <a href="{% url 'orders' %}?sort=size&direction=asc" class="dropdown-item">By Size</a>
                <a href="{% url 'orders' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'orders' %}" class="dropdown-item">All Projects</a>
            </div>
        </li>

        <li class="nav-item dropdown ">
            <a class="logo-font font-weight-bold nav-link  mr-5" href="{% url 'orders' %}?category=Icon" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Icon's
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="icon-link">
                <a href="{% url 'orders' %}?category=Icon" class="dropdown-item">All Icon's</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link  mr-5" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Logo's
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="logo-link">
                <a href="{% url 'orders' %}?category=Logo" class="dropdown-item">All Logo's</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link " href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Poster's
            </a>
            <div class="dropdown-menu  border-0" aria-labelledby="poster-link">
                <a href="{% url 'orders'%}?category=Poster" class="dropdown-item">All Poster's</a>
            </div>
        </li>
    </ul>
</div>
