<div class="carousel slide  w-100 " id="orders-carousel" data-ride="carousel" >
    {% load static %}
    <div class="carousel-inner w-100 " role="listbox">
            {% for design_request in design_requests  %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">
                        <div class="text-center m-1 " >
                            {% if design_request.processed_image %}
                            <div class="card-img-top">
                               <a href="{% url 'design_request_detail' design_request.id %}">
                                <img class="img-fluid"  src="{{design_request.processed_image.url}}" alt="{{ design_request.name }}">
                                </a>
                            </div>
                            <div class="card-title">
                                <a href="#"><p class="text-black text-sm-left font-small flex-center">{{ order.name}}</p></a>
                            </div>
                            {% else %}
                            <a href="{% url 'design_request_detail' design_request.id %}">
                                <img class=" img-fluid" src="media/noimage.png" alt="{{ design_request.name }}">
                            </a>
                            {% endif %}
                            
                        </div>

                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#orders-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#orders-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


