<div class="carousel slide  w-100 " id="products-carousel" data-ride="carousel" >
    {% load static %}
    <div class="carousel-inner w-100 " role="listbox">
            {% for product in products  %}
                <div class="carousel-item {% if forloop.first %} active {% endif %}">

                    
                        <div class="text-center m-1 " >
                            {% if product.image %}
                            <div class="card-img-top">
                               <a href="">
                                <img class="img-fluid" style="height: 260px; width:100%;" src="media/{{product.image}}" alt="{{ product.name }}">
                                </a>
                            </div>
                            <div class="card-title">
                                <a href="#"><p class="text-black text-sm-left font-small flex-center">{{ product.name}}</p></a>
                            </div>
                            {% else %}
                            <a href="">
                                <img class=" img-fluid.width:100%" style="height:200px" src="media/noimage.png" alt="{{ product.name }}">
                            </a>
                            {% endif %}
                            
                        </div>
                
                        
                </div>
            {% endfor %}
        </div>
        <a class="carousel-control-prev" href="#products-carousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#products-carousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


