{{ form|crispy }}
                <h2 class="logo-font text-center">MY PROCESSED REQUESTS </h2>
                <div class="container-fluid mt-5">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Width</th>
                                <th scope="col">Height</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Provided source files</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                            {% if order.is_processed %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>
                                    <a href="{% url 'order_detail' order.id %}">
                                    {{ order.name }}
                                    </a>
                                </td>
                                <td>{{ order.category.name }}</td>
                                <td>{{ order.width }}</td>
                                <td>{{ order.height }}</td>
                                <td>{{ order.description }}</td>
                                <td>{{ order.price }}</td>
                                <td>
                                    {% if order.source_img %}
                                        <span class="text-success">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    {% else %}
                                        <span class="text-danger">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    
                                    <a href="" class="mr-2" target="_blank">
                                        <span class="text-primary">
                                            <i class="fas fa-download"></i>
                                        </span>
                                    </a>
                                    <a href="" class="mr-2">
                                        <span class="text-success">
                                            <i class="fas fa-pen-square"></i>
                                        </span>
                                    </a>
                                
                                    <a href="#" class="mr-2">
                                        <span class="text-secondary">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}     
                        </tbody>
                    </table>
                </div>

                <h2 class="logo-font text-center">MY REQUESTS </h2>
                <div class="container-fluid mt-5">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Width</th>
                                <th scope="col">Height</th>
                                <th scope="col">Description</th>
                                <th scope="col">Price</th>
                                <th scope="col">Provided source files</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                            {% if not order.is_processed %}
                            <tr>
                                <td>{{ order.id }}</td>
                                <td>
                                    <a href="{% url 'order_detail' order.id %}">
                                    {{ order.name }}
                                    </a>
                                </td>
                                <td>{{ order.category.name }}</td>
                                <td>{{ order.width }}</td>
                                <td>{{ order.height }}</td>
                                <td>{{ order.description }}</td>
                                <td>{{ order.price }}</td>
                                <td>
                                    {% if order.source_img %}
                                        <span class="text-success">
                                            <i class="fas fa-check"></i>
                                        </span>
                                    {% else %}
                                        <span class="text-danger">
                                            <i class="fas fa-times"></i>
                                        </span>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if order.is_processed %}
                                    <a href="" class="mr-2" target="_blank">
                                        <span class="text-primary">
                                            <i class="fas fa-download"></i>
                                        </span>
                                    </a>
                                    <a href="" class="mr-2">
                                        <span class="text-success">
                                            <i class="fas fa-pen-square"></i>
                                        </span>
                                    </a>
                                    {% endif %}
                                    <a href="#" class="mr-2">
                                        <span class="text-secondary">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
         