
<script type="text/javascript">
    /* This function specifys that only positive integers are accepted as input */

    $('#width').on('input',function(){ this.value = Math.abs(this.value) })
    $('#height').on('input',function(){ this.value = Math.abs(this.value) })

    /* Hides or unhides the attachement box depending of preferences */
    $('#id_provide_source_files').click( function (e) {
        if ($('#id_provide_source_files').is(":checked")){
            $('#attachments').css("display","inline-block")
            }
        else {
            $('#attachments').css("display","none")
        }
        })

        
    $('#width').on('input',calc);
    $('#height').on('input',calc);
    function calc () {
        var width = parseFloat($('#width').val(),2);
        if ($('#height').val() === '') {
            var height = 1
        }
        else {
            var height = parseFloat($('#height').val(),2);
        }
        var size = width*height*3/1024
        var price_factor = JSON.parse({{price_factor}})
        var total = size * parseInt(price_factor) / 1000
        $('#total').val(total.toFixed(2))
    }     

    </script>
  
    <script type="text/javascript">
        $('#new-image').change(function() {
            var file = $('#new-image')[0].files[0];
            $('#filename').text(`Image will be set to: ${file.name}`);
        });
    </script>
