{% extends "base.html" %}
{% load static %}

{% block extra_css %} 
  <link rel="stylesheet" href="{% static 'design_requests/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row mb-4">
            <div class="col">
                <h2 class="text-center">DESIGN REQUEST</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">

        <form method="POST" action="" class="form mb-2" enctype="multipart/form-data">
            <div class="row g-3">
                <div class="col-md-6">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% for field in design_request_form.visible_fields|slice:":5" %}
                            {{ field | as_crispy_field }}
                {% endfor %}
                </div>
                <div class="col-md-6">
                    <div class="mb-4">
                    {% for field in design_request_form %}
                        {% if field.name == 'provide_source_files' %}
                            {{field}}
                        {% endif %}
                    {% endfor %}
                    <label class="form-check-label" for="provide_source_files">
                        Provide source files
                    </label>
                    </div>
                    <div class="mb-4">
                    {% for field in design_request_form %}
                        {% if field.name == 'source_img' %}
                        <label class="form-check-label col-12  pl-0" for="processed_image">
                            Source Image :
                        </label>
                         {{field}}  
                        {% endif %}
                    {% endfor %}       
                    </div>
                    <hr>
                    <div class="mb-4">
                    {% for field in design_request_form %}
                        {% if field.name == 'is_processed' %}
                            {{field }} 
                        {% endif %}
                    {% endfor %}
                    <label class="form-check-label" for="is_processed">
                        Processed 
                    </label>
                    </div>
    
                    <div class="mb-4">
                    {% for field in design_request_form %}
                        {% if field.name == 'processed_image' and design_request.is_processed %}
                        <label class="form-check-label col-12 pl-0" for="processed_image">
                            Processed Image :
                        </label>
                         {{field}}
                        {% endif %}
                    {% endfor %}                
                    </div>
                
                </div>
                <div class="col-12 h-1 text-left mb-4" id="testimonial_div">
                    {% for field in design_request_form %}
                        {% if field.name == 'testimonial'  and design_request.is_processed  and design_request.testimonial  %}
                        <label class="form-check-label col-12 pl-0" for="id_testimonial">
                            Testimonial :
                        </label>
                         {{field}}
                        {% endif %}
                    {% endfor %}                
                    </div>
            <div class="col-12 text-right mt-4">
                <hr>
                {% if from_profile %}
                    <a href="{% url 'profile'%}" class ='btn btn-primary rounded-0 '>Back to My Profile</a>
                {% endif %}
                {% if from_design_request_list %}
                <a class="btn btn-primary rounded-0" href="{% url 'design_request_list' %}">Request list</a>
                {% endif %}
                <a class="btn btn-primary rounded-0" id="testimonial_button" href="{% url 'design_request_testimonial' design_request.id %}">Write a testimonial</a>
                {% if user.is_superuser  %}
                <a class="btn btn-primary rounded-0" href="{% url 'design_request_process_request' design_request.id %}">
                   Process Request
                </a>
                {% endif %}
                {% if not design_request.order_number %}
                    <a href="{% url 'update_design_request' design_request.id %}" class ='btn btn-primary rounded-0 '>Update Design Request</a>
                    <a class="btn btn-primary rounded-0" href="{% url 'design_request_checkout' design_request.id %}">Checkout</a>
                    <a class = "btn btn-danger" href="{% url 'delete_design_request' design_request.id %}">Delete Design Request</a>
                {% endif %}
            </div>
            </div>
</div>

{% endblock %}

{% block postloadjs %}
    <script type="text/javascript">
        if ($('#id_testimonial').val()) {
            $('#testimonial_button').css("display","none")
        } 
        else {
            $('#testimonial_div').css("display","none")
            $('#testimonial_button').css("display","inline-block")
        }
    </script>
{% endblock %}


