{% extends "base.html" %}
{% load static %}

{% block extra_css %} 
  <link rel="stylesheet" href="{% static 'design_requests/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

{{ form|crispy }}
    <div class="container dataTable-wrapper" id ="request_list_div">
                <h2 class="logo-font text-center">MY PROCESSED REQUESTS </h2>
                <div class="container-fluid  mh-100  mt-3">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Size (kb)</th>
                                <th scope="col">Price</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for order in  orders %}
                            {% if order.design_request.is_processed %}
                            <tr>
                                <td>{{ order.design_request.id }}</td>
                                <td>
                                    <a href="{% url 'design_request_detail' order.design_request.id %}">
                                    {{ order.design_request.name }}
                                    </a>
                                </td>
                                <td>{{ order.design_request.category.name }}</td>
                                <td>{{ order.design_request.size }}</td>
                                <td>£{{ order.design_request.price }}</td>

                                <td>
                                    
                                    <a href="{{order.design_request.processed_image.url}}" download class="mr-2" target="_blank">
                                        <span class="text-primary">
                                                <i class="fas fa-download"></i>
                                        </span>
                                    </a>
                                    {% if not order.design_request.testimonial %}
                                    <a href="{% url 'design_request_testimonial' order.design_request.id %}" class="mr-2">
                                        <span class="text-success">
                                            <i class="fas fa-pen-square"></i>
                                        </span>
                                    </a>
                                    {% endif %}
                                    <a href="mailto:eammbconsult@gmail.com" class="mr-2">
                                        <span class="text-secondary">
                                            <i class="fas fa-envelope"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                        {% endfor %}     
                        </tbody>
                    </table>
                </div>


            <div class="overflow-auto">
                <h2 class="logo-font text-center">MY UNPROCESSED REQUESTS </h2>
                <div class="container-fluid mt-3">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Category</th>
                                <th scope="col">Size (kb)</th>
                                <th scope="col">Price</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                {% if not order.design_request.is_processed and order.design_request.order_number %}
                                    <tr>
                                        <td>{{ order.design_request.id }}</td>
                                        <td>
                                            <a href="{% url 'design_request_detail' order.design_request.id %}">
                                            {{ order.design_request.name }}
                                            </a>
                                        </td>
                                        <td>{{ order.design_request.category.name }}</td>
                                        <td>{{ order.design_request.size }}</td>
                                        <td>£{{ order.design_request.price }}</td>
                                        <td>
                                            {% if order.design_request.is_processed %}
                                            <a href="" class="mr-2" target="_blank">
                                                <span class="text-primary">
                                                    <i class="fas fa-download"></i>
                                                </span>
                                            </a>
                                            <a href="{% url 'design_request_testimonial' design_request.id %}" class="mr-2">
                                                <span class="text-success">
                                                    <i class="fas fa-pen-square"></i>
                                                </span>
                                            </a>
                                            {% endif %}
                                            <a href="mailto:eammbconsult@gmail.com" class="mr-2">
                                                <span class="text-secondary">
                                                    <i class="fas fa-envelope"></i>
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                        {% endif %}
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="overflow-auto">
                        <h2 class="logo-font text-center"> MY UNCOMPLETED REQUESTS </h2>
                        <div class="container-fluid mt-3">
                            <table class="table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th scope="col">ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Size (kb)</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for design_request in design_requests %}
                                        {% if not design_request.order_number and not design_request.is_processed %}
                                            <tr>
                                                <td>{{ design_request.id }}</td>
                                                <td>
                                                    <a href="{% url 'design_request_detail' design_request.id %}">
                                                    {{ design_request.name }}
                                                    </a>
                                                </td>
                                                <td>{{ design_request.category.name }}</td>
                                                <td>{{ design_request.size }}</td>
                                                <td>£{{ design_request.price }}</td>
                                                <td>
                                                    <a href="{% url 'update_design_request' design_request.id %}" class="mr-2" target="_blank">
                                                        <span class="text-primary">
                                                            <i class="fas fa-pencil-alt"></i>
                                                        </span>
                                                    </a>
                                                    <a href="{% url 'design_request_checkout' design_request.id %}" class="mr-2">
                                                        <span class="text-secondary">
                                                            <i class="fas fa-lock"></i>
                                                        </span>
                                                    </a>
                                                    <a href="{% url 'delete_design_request' design_request.id %}" class="mr-2">
                                                        <span class="text-danger">
                                                            <i class="fas fa-times"></i>
                                                        </span>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% endfor%}
                        </tbody>
                    </table>
                </div>
        </div>
    {% endblock %}