{% extends "base.html" %}
{% load static %}

{% block extra_css %} 
  <link rel="stylesheet" href="{% static 'design_requests/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row mb-4">
            <div class="col">
                <h2 class="text-center">DESIGN REQUEST {{design_request.id}}</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">

        <form method="POST" action="" class="form mb-2" enctype="multipart/form-data">
            <div class="row g-3">
                <div class="col-md-6">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {% for field in design_request_form.visible_fields|slice:":5" %}
                            {{ field | as_crispy_field }}
                {% endfor %}
                </div>
                {% if design_request.processed_image %}
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12 ">
                            <h6>Processed image:</h6>
                            <hr>
                            <a href="{{ design_request.processed_image.url }}" target="_blank">
                                <img class="card-img-top img-fluid " id="img-detail" src="{{ design_request.processed_image.url}}" alt="{{ order.design_request.name }}">
                            </a>
                        </div>
                    </div>
                </div>
                {% elif design_request.source_img %}
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-12 ">
                            <h6>Source image:</h6>
                            <hr>
                            <a href="{{ design_request.source_img.url }}" target="_blank">
                                <img class="card-img-top img-fluid " id="img-detail" src="{{ design_request.source_img.url}}" alt="{{ order.design_request.name }}">
                            </a>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-12 h-1 text-left mb-4" id="testimonial_div">
                    {% for field in design_request_form %}
                        {% if field.name == 'testimonial'  and design_request.is_processed  and design_request.testimonial != False %}
                        <label class="form-check-label col-12 pl-0" for="id_testimonial">
                            Testimonial :
                        </label>
                         {{field}}
                        {% endif %}
                    {% endfor %}                
                    </div>
            <div class="col-12 text-right mt-4">
                <hr>
                {% if from_profile %}
                    <a href="{% url 'profile'%}" class ='btn btn-primary rounded-0 '>Back to My Profile</a>
                {% endif %}
                {% if from_design_request_list %}
                <a class="btn btn-primary rounded-0" href="{% url 'design_request_list' %}">Request list</a>
                {% endif %}
                <a class="btn btn-primary rounded-0" id="testimonial_button" href="{% url 'design_request_testimonial' design_request.id %}">Write a testimonial</a>
                {% if user.is_superuser and design_request.order_number %}
                <a class="btn btn-primary rounded-0" href="{% url 'design_request_process_request' design_request.id %}">
                   Process Request
                </a>
                {% endif %}
                {% if not design_request.order_number %}
                    <a href="{% url 'update_design_request' design_request.id %}" class ='btn btn-primary rounded-0 '>Update Design Request</a>
                    <a class="btn btn-primary rounded-0" href="{% url 'design_request_checkout' design_request.id %}">Checkout</a>
                    <a class = "btn btn-danger" href="{% url 'delete_design_request' design_request.id %}">Delete Design Request</a>
                {% endif %}
            </div>
            </div>
</div>

{% endblock %}

{% block postloadjs %}
    <script type="text/javascript">
        if ($('#id_testimonial').val()) {
            $('#testimonial_button').css("display","none")
        } 
        else {
            $('#testimonial_div').css("display","none")
            $('#testimonial_button').css("display","inline-block")
        }
    </script>
{% endblock %}


