{% extends "base.html" %} {% load static %} 

{% block extra_css %} 
  <link rel="stylesheet" href="{% static 'design_requests/css/checkout.css' %}">
  <link rel="stylesheet" href="{% static 'design_requests/css/stripe.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col">
        <h2 class="logo-font mr-4 mb-2 text-center">Checkout</h2>
    </div>
  </div>
  <hr />
</div>
{% endblock %} {% block content %}
<div class="container mt-4 pb-6" id="checkout_container">
  <div class="row">
    <div class="col-lg-6">
      <div class="col-12 mb-4">
        <p class="text-muted">Order Summary</p>
      </div>
      <hr />
      <div class="row">
        <div class="col-4 text-right">
          <p class="mb-1 mt-0 small text-muted">Design Request Name</p>
        </div>
        <div class="col-4 text-right">
          <p class="mb-1 mt-0 small text-muted">Price</p>
        </div>
        <div class="col-4 text-right">
          <p class="mb-1 mt-0 small text-muted">Size</p>
        </div>
        <hr />
        <div class="col-12">
          <div class="row">
            <div class="col-4 text-right">
              <p class="my-0 small text-muted">
                <strong>{{design_request.name}}</strong>
              </p>
            </div>
            <div class="col-4 text-right">
              <p class="my-0 small text-muted">
                £{{ design_request.price|floatformat:2 }}
              </p>
            </div>
            <div class="col-4 text-right">
              <p class="my-0 small text-muted">
                <strong>{{design_request.height}} x {{design_request.width}} px</strong>
              </p>
            </div>
          </div>
        </div>
        <hr />
        {% if design_request.source_img %}
        <div class="col-12 mt-4 text-right">
          <p class="my-0 small text-muted">Image:</p>
        </div>

        <div class="col-12 text-right">
          <a href="{{design_request.source_img.url}}">
            <img
              src="{{design_request.source_img.url}}"
              style="height: 80px"
              alt="Source Image"
            />
          </a>
        </div>
        {% endif %}
      </div>
      {% if not design_request.order_number %}
      <div class="row text-right">
        <div class="col-6 text-right">
          <a href="{% url 'update_design_request' design_request.id %}" class ='btn btn-primary rounded-0 '>Update Design Request</a>
        </div>
        <div class="col-6 text-right">
          <a class = "btn btn-danger" href="{% url 'delete_design_request' design_request.id %}">Delete Design Request</a>
        </div>
      </div>
      {% endif %}
    </div>
    <div class="col-12 col-lg-6">
      <div class="col-12">
        <p class="text-muted">
          Please fill out the form below to complete your order
        </p>
      </div>
      <form
        action="{% url 'design_request_checkout' design_request.id %}"
        method="POST"
        id="payment-form">
        {% csrf_token %}
        <fieldset class="rounded px-3 mb-2">
          <legend class="fieldset-label small text-black px-2 w-auto">
            Details
          </legend>
          {{ order_form.full_name | as_crispy_field }} 
        </fieldset>
        <fieldset class="rounded px-3 mb-2">
          <legend class="fieldset-label small text-black px-2 w-auto">
            Billing Address
          </legend>
            {{ order_form.phone_number | as_crispy_field }} 
            {{ order_form.street_address1 | as_crispy_field }} 
            {{ order_form.street_address2 | as_crispy_field }} 
            {{ order_form.town_or_city | as_crispy_field }} 
            {{ order_form.county | as_crispy_field }} 
            {{ order_form.postcode | as_crispy_field }} 
            {{ order_form.country | as_crispy_field }}

            {% if user.is_authenticated %}
          <div class="form-check form-check-inline float-right mr-0">
            <label class="form-check-label" for="id-save-info">Save this delivery information to my profile</label>
            <input
              class="form-check-input ml-2 mr-0"
              type="checkbox"
              id="id-save-info"
              name="save-info"
              checked/>
          </div>
          {% endif %}
        </fieldset>
        <fieldset class="px-3">
          <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
          <!-- A Stripe card element will go here -->
          <div class="mb-3" id="card-element"></div>
          <!-- Used to display form errors -->
          <div class="mb-3 text-danger" id="card-errors" role="alert"></div>
          <!-- Pass the client secret to the view so we can get the payment intent id -->
          <input type="hidden" value="{{ client_secret }}" name="client_secret">
        </fieldset>
        <div class="col-12 submit-button text-right mt-2 mb-2 mr-3">
            <button class="btn btn-primary"  id="submit-button">
                <span class="font-weight-bold">Submit Payment</span>
                <span class="icon">
                  <i class="fas fa-lock"></i>
                </span>
            </button>
            <p class="small text-danger my-0">
              <span class="icon">
                <i class="fas fa-exclamation-circle"></i>
              </span>
              <span>Your card will be charged <strong>£{{ stripe_price|floatformat:2 }}</strong></span>
            </p>
        </div>
      </form>
    </div>
  </div>
  <div class="bottom-inside-container" id="bottom-inside-container"></div>
</div>
<div id="loading_overlayer">
  <h1 class="text-light logo-font loading-spinner">
    <span class="icon">
      <i class="fas fa-3x fa-sync-alt fa-spin"></i>
    </span>
  </h1>
</div>
{% endblock %}
{% block postloadjs %}
    {{block.super}}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    {{ client_email|json_script:"client_email" }}
   
    <script src="{% static 'design_requests/js/stripe.js' %}"></script>

    <script type="text/javascript">
      $(document).ready(function() {
         max = $(document).height() - $('#bottom-inside-container').offset().top;
         $('#bottom-inside-container').css('max-height',max);
      });
  </script>
  <script type = "text/javascript" >
  /* Prevents user from reaccessing the checkout page after checkout process is done. This is to prevent double orders */
    function disableBackButton()
    {
    window.history.forward();
    }
    setTimeout("disableBackButton()", 0);
  </script>
  <script type="text/javascript">
  /* Makes all input fields on the page required */
    $('input').attr('required',true)
  </script>
{% endblock %}