{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col">
                <h2 class="text-center">DESIGN REQUEST</h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}

<div class="container">
    <div class="col-12 col-md-6">
        <form method="POST" action="{% url 'add_design_requests' %}" class="form mb-2" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in design_request_form %}
                {% if field.name != 'image' %}
                    {{ field | as_crispy_field }}
                {% else %}
                    {{ field }}
                {% endif %}
            {% endfor %}
            <div class="text-right">
                <a class="btn btn-outline-black rounded-0" href="{% url 'design_request_list' %}">Cancel</a>
                {% if user.is_superuser %}
                <a class="btn btn-outline-black rounded-0" href="{% url 'design_request_process_request' design_request_id %}">
                   Process Request
                </a>
                {% endif %}
            </div>
        </form>
    </div>            
</div>
    
{% endblock %}
